.card {
    border: 1px solid #ec0b0b;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    width: 200px; /* Ancho deseado */
    display: inline-block;
}

.card-name {
    font-weight: bold;
    margin-bottom: 8px;
}

.card-image {
    width: 100%;
    border-radius: 8px;
}
